@charset "utf-8";

main{
    display: grid;
    grid-template-areas:
        "h h h h h"
        "n n n n n"
        "t t t t t"
        "s s s s s"
        "a a a a a"
        "r r r r r"
        "f f f f f";
}

header{
    grid-area:h;
}
nav{
    grid-area:n;   
}
article{
    grid-area:t;
}
section{
    grid-area:s;
}
aside{
    grid-area:a;
}
footer{
    grid-area:f;
}
.carousel-inner img {
    width: 100%;
}
.col-sm-4 img{
    width: 100%;
}
.row{
    grid-area:r;
    margin-top:50px;
    margin-left:200px;
    margin-right:auto; 
}


nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width:1000px){
    main{
        display: grid;
        grid-template-areas:
                    "h"
                    "n"
                    "t"
                    "s"
                    "a"
                    "f";
    }
}
@media screen and (max-width:700px){
    nav ul{
    display: grid;
    grid-template-columns: 1fr;
}
}
